<div class="row flex-row-reverse">
  <p class="top-text pr-3">{{'component4.resources' | translate}}</p>
</div>

<div class="row">
  <div class="col-md-3 pr-0">
    <div class="form-group">
      <select class="form-control select-style">
        <option value="" class="selection-header">{{'component4.month' | translate}}</option>
        <option value="January">{{'component4.jan'| translate}}</option>
        <option value="February">{{'component4.feb'| translate}}</option>
        <option value="March">{{'component4.mar'| translate}}</option>
        <option value="April">{{'component4.apr'| translate}}</option>
        <option value="May">{{'component4.may'| translate}}</option>
        <option value="June">{{'component4.jun'| translate}}</option>
        <option value="July">{{'component4.jul'| translate}}</option>
        <option value="August">{{'component4.aug'| translate}}</option>
        <option value="September">{{'component4.sep'| translate}}</option>
        <option value="October">{{'component4.oct'| translate}}</option>
        <option value="November">{{'component4.nov'| translate}}</option>
        <option value="December">{{'component4.dec'| translate}}</option>
      </select>
    </div>
  </div>

  <div class="col-md-9 pl-0">
    <input type="number" class="form-control input-number text-right" placeholder="{{'component4.day' | translate}}">
  </div>
</div>
